{% extends 'master/main.html' %}
{% block content %}
<center>
<div>
<h1>Your To-Do List</h1>
<hr></hr>
<a class="add" href="{% url 'create' %}">&#43</a>
 <table>
<br></br>
    
     {% for task in tasks %}
     <tr>
         <td>{{task.title}}</td>
         <!-- <td><a href="{% url 'detail' task.id %}">VIEW</a></td> -->
         <td><a class=" mod-link" href="{% url 'update' task.id %}">&#9998</a></td>
         <td><a class="delete-link" href="{% url 'delete' task.id %}">&#10003</a></td>
     </tr>
     {% empty%}
     <h3>No items in the list</h3>
     {% endfor %}
 </table>
</div>
</center>

{% endblock content %}
 
